# Terraform state files
*.tfstate
*.tfstate.backup
*.tfvars    # Only if it contains sensitive variables
.terraform/ # Terraform plugin directory

# Private keys
*.pem
*.key

# Crash logs
crash.log

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
